:root {
  --color-primary: #141c3a;
  --color-secondary: #7510f7;
  --color-tertiary: #0a0a0ae6;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/** Typography */

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-primary);
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 2.4rem;
  line-height: 1.1;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
  }

  h2 {
    font-size: 4.8rem;
  }
}

/** Links */

a {
  text-decoration: none;
}

.link-text:link,
.link-text:visited {
  font-weight: 500;
  color: var(--color-secondary);
  transition: color 0.15s;
}

.link-text:hover,
.link-text::after {
  color: #5e07cd;
}

/** Lists */

.list {
  list-style: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.list > li {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media screen and (min-width: 1024px) {
  .list {
    row-gap: 2.4rem;
  }

  .list > li {
    column-gap: 15px;
  }
}

/** Icons */

.icon {
  font-size: 30px;
  color: var(--color-secondary);
}

.icon--round {
  padding: 1.2rem;
  border-radius: 50%;
  display: inline-flex;
}

.icon--round--secondary {
  border: 2px solid var(--color-secondary);
  transition: background 0.3s;
}

.icon--round--secondary:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

.icon--round--white {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  transition: background 0.3s;
}

.icon--round--white:hover {
  background: var(--color-secondary);
}

/** Buttons */

.btn {
  background: none;
  border-radius: 40px;
  border: 2px solid;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem 0;
  padding: 1.4rem 2.8rem;
  /* padding: 2rem 3rem; */
  text-transform: capitalize;
  white-space: nowrap;
}

.btn--primary {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: all 0.3s;
}

.btn--primary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  transition: all 0.3s;
}

.btn--secondary:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

.btn--white {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  transition: all 0.3s;
}

.btn--white:hover {
  background: var(--color-white);
  color: var(--color-secondary);
}

/** Inputs */

.input {
  padding: 1.5rem 1.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-primary);
  font-size: 2rem;
}

::placeholder {
  color: #c2c8e0;
}

.input-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-group > label {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.8rem;
  }
}

/** Cards */

.card {
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

/** Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Callouts */

.callout {
  padding: 5.6rem 2rem;
  border-radius: 15px;
}

.callout--secondary {
  background: var(--color-secondary);
}

/** Blocks */

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.block {
  padding: 9.6rem 2.4rem;
}

.block__header {
  text-align: center;
}

.block--dark {
  background: linear-gradient(
    to bottom,
    #141c3a 0%,
    #141c3a 62.5%,
    #fff 62.5%,
    #fff 100%
  );
}

.block--dark .block__heading {
  color: var(--color-white);
}

/** Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
}

.collapsible__close {
  display: none;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.7s;
}

.collapsible--expanded .collapsible__close {
  display: block;
}

.collapsible--expanded .collapsible__menu {
  display: none;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
