:root {
  --color-primary: #141c3a;
  --color-secondary: #7510f7;
  --color-tertiary: #0a0a0ae6;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Typography */

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-primary);
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 2.4rem;
  line-height: 1.1;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
  }

  h2 {
    font-size: 4.8rem;
  }
}

/** Links */

a {
  text-decoration: none;
}

.link-text:link,
.link-text:visited {
  font-weight: 500;
  color: var(--color-secondary);
  transition: color 0.15s;
}

.link-text:hover,
.link-text::after {
  color: #5e07cd;
}

/** Lists */

.list {
  list-style: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.list > li {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media screen and (min-width: 1024px) {
  .list {
    row-gap: 2.4rem;
  }

  .list > li {
    column-gap: 15px;
  }
}

/** Icons */

.icon {
  font-size: 30px;
  color: var(--color-secondary);
}

.icon--round {
  padding: 1.2rem;
  border-radius: 50%;
}

.icon--round--secondary {
  border: 2px solid var(--color-secondary);
  transition: background 0.3s;
}

.icon--round--secondary:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

.icon--round--white {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  transition: background 0.3s;
}

.icon--round--white:hover {
  background: var(--color-secondary);
}
