:root {
  --color-primary: #141c3a;
  --color-secondary: #7510f7;
  --color-tertiary: #0a0a0ae6;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Typography */

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-primary);
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 2.4rem;
  line-height: 1.1;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
  }

  h2 {
    font-size: 4.8rem;
  }
}
