@import url(normalize.css);
@import url(general.css);

/** Callouts */

.callout__heading {
  margin-bottom: 0;
  color: var(--color-white);
  font-size: 3.2rem;
  justify-self: center;
  align-self: center;
}

.callout__content {
  color: var(--color-white);
  align-self: center;
  text-align: center;
  margin: 3.2rem 0;
  padding: 0 0.5rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .callout__content {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .callout__content {
    padding: 0 1rem;
  }
}

/** Navigation */

.nav {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  align-items: center;
}

/* .collapsible--expanded .nav__list {
  TODO: Add margin top here;
  margin-top: 3.2rem;
} */

.nav__item {
  padding: 0.5rem;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-secondary);
}

.logo--header {
  width: 50%;
}

.nav__icon {
  font-size: 4rem;
}

.icon__menu {
  cursor: pointer;
}

.icon__close {
  display: none;
}

.nav__item .btn {
  margin: 0;
  padding: 0.7rem 2.1rem;
  color: var(--color-secondary);
  transition: all 0.3s;
}

.nav__item .btn:hover {
  color: var(--color-white);
}

.collapsible--expanded .icon__close {
  display: block;
  cursor: pointer;
}

.collapsible--expanded .icon__menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .logo--header {
    max-width: 15%;
  }

  .icon__menu {
    display: none;
  }

  .collapsible--expanded .icon__close {
    display: none;
  }

  .nav {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  .nav__list {
    width: auto;
    flex-direction: row;
    column-gap: 3.2rem;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }
}

/** Hero */

.hero {
  padding-top: 3.2rem;
}

.heading__highlight {
  color: var(--color-secondary);
}

.hero__tagline {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.hero__image {
  margin-top: 5.6rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading__span {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 4.8rem;
  }

  .hero__image {
    margin-top: 0;
  }

  .container__hero {
    max-width: 120rem;
    align-items: center;
  }

  .hero__content {
    text-align: left;
    margin-right: 14.4rem;
  }

  .hero__tagline {
    font-size: 2rem;
    margin: 3.2rem 0 5.6rem 0;
  }

  .hero__tagline span {
    display: block;
  }
}

/** About */

.block--about {
  padding-top: 4.8rem;
  background: linear-gradient(
    to bottom,
    #141c3a 0%,
    #141c3a 43%,
    #fff 43%,
    #fff 100%
  );
}

.block--about .grid {
  margin-top: 4.8rem;
  justify-items: center;
  gap: 3.2rem;
}

.block--about .profile-card {
  max-width: 40rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .block--about {
    background: linear-gradient(
      to bottom,
      #141c3a 0%,
      #141c3a 53%,
      #fff 53%,
      #fff 100%
    );
  }

  .block--about .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .block--about .profile-card {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  .block--about {
    background: linear-gradient(
      to bottom,
      #141c3a 0%,
      #141c3a 55%,
      #fff 55%,
      #fff 100%
    );
  }
}
