@import url(normalize.css);
@import url(general.css);

/** Callouts */

.callout__heading {
  margin-bottom: 0;
  color: var(--color-white);
  font-size: 3.2rem;
  justify-self: center;
  align-self: center;
}

.callout__content {
  color: var(--color-white);
  align-self: center;
  text-align: center;
  margin: 3.2rem 0;
  padding: 0 0.5rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .callout__content {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .callout__content {
    padding: 0 1rem;
  }
}

/** Navigation */

.nav {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  align-items: center;
}

.collapsible--expanded .nav__list {
  /* TODO: Add margin top here; */
  /* margin-top: 3.2rem; */
}

.nav__item {
  padding: 0.5rem;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-secondary);
}

.logo--header {
  width: 50%;
}

.nav__icon {
  font-size: 4rem;
}

.icon__menu {
  cursor: pointer;
}

.icon__close {
  display: none;
}

.nav__item .btn {
  margin: 0;
  padding: 0.7rem 2.1rem;
  color: var(--color-secondary);
  transition: all 0.3s;
}

.nav__item .btn:hover {
  color: var(--color-white);
}

.collapsible--expanded .icon__close {
  display: block;
  cursor: pointer;
}

.collapsible--expanded .icon__menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .logo--header {
    max-width: 15%;
  }

  .icon__menu {
    display: none;
  }

  .collapsible--expanded .icon__close {
    display: none;
  }

  .nav__list {
    width: auto;
    flex-direction: row;
    column-gap: 3.2rem;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }
}
