@import url(normalize.css);
@import url(general.css);

/** Callouts */

.callout__heading {
  margin-bottom: 0;
  color: var(--color-white);
  font-size: 3.2rem;
  justify-self: center;
  align-self: center;
}

.callout__content {
  color: var(--color-white);
  align-self: center;
  text-align: center;
  margin: 3.2rem 0;
  padding: 0 0.5rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .callout__content {
    font-size: 1.6rem;
  }
}

/** Navigation */

.nav {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  align-items: center;
}

/* .collapsible--expanded .nav__list {
  TODO: Add margin top here;
  margin-top: 3.2rem;
} */

.nav__item {
  padding: 0.5rem;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-secondary);
}

.logo--header {
  width: 50%;
}

.nav__icon {
  font-size: 4rem;
}

.icon__menu {
  cursor: pointer;
}

.icon__close {
  display: none;
}

.nav__item .btn {
  margin: 0;
  padding: 0.7rem 2.1rem;
  color: var(--color-secondary);
  transition: all 0.3s;
}

.nav__item .btn:hover {
  color: var(--color-white);
}

.collapsible--expanded .icon__close {
  display: block;
  cursor: pointer;
}

.collapsible--expanded .icon__menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .logo--header {
    max-width: 15%;
  }

  .icon__menu {
    display: none;
  }

  .collapsible--expanded .icon__close {
    display: none;
  }

  .nav {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  .nav__list {
    width: auto;
    flex-direction: row;
    column-gap: 3.2rem;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }
}

/** Hero */

.hero {
  padding-top: 3.2rem;
}

.heading__highlight {
  color: var(--color-secondary);
}

.hero__tagline {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.hero__image {
  margin-top: 5.6rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading__span {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 4.8rem;
  }

  .hero__image {
    margin-top: 0;
  }

  .container__hero {
    max-width: 120rem;
    align-items: center;
  }

  .hero__content {
    text-align: left;
    margin-right: 14.4rem;
  }

  .hero__tagline {
    font-size: 2rem;
    margin: 3.2rem 0 5.6rem 0;
  }

  .hero__tagline span {
    display: block;
  }
}

/** About */

.block--about {
  background: linear-gradient(
    to bottom,
    #141c3a 0%,
    #141c3a 43%,
    #fff 43%,
    #fff 100%
  );
}

.block--about .grid {
  margin-top: 4.8rem;
  justify-items: center;
  gap: 3.2rem;
}

.block--about .profile-card {
  max-width: 40rem;
}

.block__about__description {
  line-height: 2;
}

.block__about__description span {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .block--about {
    background: linear-gradient(
      to bottom,
      #141c3a 0%,
      #141c3a 53%,
      #fff 53%,
      #fff 100%
    );
  }

  .block--about .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .block--about .profile-card {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  .block--about {
    background: linear-gradient(
      to bottom,
      #141c3a 0%,
      #141c3a 55%,
      #fff 55%,
      #fff 100%
    );
  }
}

/** Card-Website */

.card--website {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 4rem;
}

.card--website__description {
  font-size: 1.6rem;
  text-align: center;
}

.card--website__link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card--website__link span {
  font-size: 1.8rem;
}

.card--website__link ion-icon {
  font-size: 2.4rem;
}

.card--website__link--disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  .card--website {
    padding: 6rem 3.5rem;
  }

  .card--website__description {
    font-size: 1.8rem;
  }
}

/** Websites */

.block--website {
  background: linear-gradient(
    to bottom,
    #141c3a 0%,
    #141c3a 22%,
    #fff 22%,
    #fff 100%
  );
}

.block--website .grid {
  margin-top: 5.6rem;
  gap: 2.4rem;
}

.block--website__description {
  line-height: 1.8;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .block--website {
    background: linear-gradient(
      to bottom,
      #141c3a 0%,
      #141c3a 33%,
      #fff 33%,
      #fff 100%
    );
  }

  .block--website .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .block--website {
    background: linear-gradient(
      to bottom,
      #141c3a 0%,
      #141c3a 43%,
      #fff 43%,
      #fff 100%
    );
  }

  .block--website__description span {
    display: block;
  }
}

/** Why Us */

.block--why {
  border-top: 1px solid #e6ecf8;
}

.block--why .grid {
  margin-top: 6.4rem;
  gap: 5.6rem;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .block--why .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

@media screen and (min-width: 1024px) {
  .block--why__image {
    width: 85%;
  }
}

/** Message */

.block--message {
  padding-top: 4.8rem;
  background: linear-gradient(
    to bottom,
    #141c3a 0%,
    #141c3a 22%,
    #fff 22%,
    #fff 100%
  );
}

.block--message .grid {
  margin-top: 6.4rem;
  gap: 2.4rem;
}

.btn--message {
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .message__container {
    max-width: 80rem;
  }

  .block--message .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn--message {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .input__textarea {
    grid-column: 1 / -1;
  }

  .input__textarea textarea {
    height: 24rem;
  }
}

/** Footer */

.block--footer {
  background: var(--color-primary);
}

.block--footer__image {
  width: 30%;
  margin-bottom: 2.4rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.footer__slogan {
  font-weight: 500;
}

.footer__span {
  display: block;
}

/** Card-Design */

.card--design {
  overflow: hidden;
  position: relative;
}

.card--design__image {
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.card--design:hover .card--design__image {
  transform: scale(1.1);
}

.card--design__overlay {
  align-items: center;
  backdrop-filter: blur(4px);
  background: #141c3aef;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
}

.card--design__overlay > * {
  transform: translateY(20px);
  transition: all 0.25s ease-in-out;
}

.card--design:hover .card--design__overlay {
  opacity: 1;
}

.card--design:hover .card--design__overlay > * {
  transform: translateY(0);
}

.card--design__overlay__heading {
  font-size: 2.4rem;
  margin: 0;
  color: var(--color-white);
}

.card--design__overlay__btn {
  margin: 0;
  padding: 0.7rem 2.4rem;
}

/** Design */

.block--design {
  border-top: 1px solid #e6ecf8;
}

.block--design .grid {
  margin-top: 5.6rem;
  gap: 2.4rem;
}

.btn--design {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 4.8rem;
}

.btn--design ion-icon {
  font-size: 25px;
}

.btn--design__container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .block--design .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/** Callout */

.block--footer .callout--secondary {
  margin-top: -18rem;
}

/** Microscope */

.microscope {
  margin-left: 7px;
  transform: translateY(7px);
  width: 30px;
  height: 30px;
  fill: var(--color-primary);
  transition: fill 0.3s;
}

.btn--with-icon:hover .microscope {
  fill: var(--color-white);
}
