<section class="block block--dark block--about">
  <div class="container">
    <div class="block__header">
      <h2>Inside the atom</h2>
      <p>
        Since beginning my journey as a freelance designer nearly 10 years ago,
        I've done remote work for agencies, consulted for startups, and
        collaborated with talented people to create digital products for both
        business and consumer use. I'm quietly confident, naturally curious, and
        perpetually working on improving my chops one design problem at a time.
      </p>
    </div>
    <div class="grid grid--1x2">
      <div class="profile-card">
        <div class="profile-card__header">
          <img
            class="profile-card__image"
            src="assets/Ashish.png"
            alt="Ashish's Memoji"
          />
          <span class="profile-card__name">Ashish</span>
          <span class="profile-card__post">Product Designer & Developer</span>
        </div>

        <p class="profile-card__description">
          Ashish got into programming after his school teacher scolded him for
          being absolute zero in his MySQL class. He accidentally discovered
          Java & JavaScript when he was downloading paid courses for free from
          torrent. Ashish occasionally wins at Valorant by shooting from the
          back.
        </p>

        <div class="icon-group">
          <a class="icon icon--round icon--round--secondary" href="#"
            ><ion-icon name="logo-twitter"></ion-icon
          ></a>
          <a class="icon icon--round icon--round--secondary" href="#"
            ><ion-icon name="logo-instagram"></ion-icon
          ></a>
          <a class="icon icon--round icon--round--secondary" href="#"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-card__header">
          <img
            class="profile-card__image"
            src="assets/Subhojeet.png"
            alt="Subhojeet's Memoji"
          />
          <span class="profile-card__name">Subhojeet</span>
          <span class="profile-card__post">Designer & Developer</span>
        </div>

        <p class="profile-card__description">
          Subhojeet got into programming after he realise that his class XII
          Physics & Chemistry don't even help 1% in his CSE degree. He
          accidentally discovered Python while he was surfing about 'How to get
          single digit rank in JEE'. Subhojeet occasionally wins at Valorant by
          hiding & sniping from the base.
        </p>

        <div class="icon-group">
          <a class="icon icon--round icon--round--secondary" href="#"
            ><ion-icon name="logo-twitter"></ion-icon
          ></a>
          <a class="icon icon--round icon--round--secondary" href="#"
            ><ion-icon name="logo-instagram"></ion-icon
          ></a>
          <a class="icon icon--round icon--round--secondary" href="#"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
