<footer class="block block--dark block--footer">
  <div class="container footer__container">
    <div class="block__header">
      <img
        class="block--footer__image"
        src="assets/logo-footer.svg"
        alt="Atomic Programmers logo"
      />
      <p class="footer__slogan">
        Living, learning, & leveling up<span class="footer__span">
          one day at a time.</span
        >
      </p>
    </div>
    <div class="icon-group">
      <a class="icon icon--round icon--round--white" href="#"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a class="icon icon--round icon--round--white" href="#"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a class="icon icon--round icon--round--white" href="#"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
      <a class="icon icon--round icon--round--white" href="#"
        ><ion-icon name="mail-outline"></ion-icon
      ></a>
    </div>
    <p class="block__header">
      Copyright &copy; 2021 Atomic Programmers. All rights reserved.
    </p>
  </div>
</footer>
