<section class="block hero">
  <div class="container container__hero grid grid--1x2">
    <div class="block__header hero__content">
      <h1 class="hero__heading">
        You don’t realize,<span class="heading__span">
          but we <span class="heading__highlight">EXIST!</span></span
        >
      </h1>
      <p class="hero__tagline">
        We design and code beautifully simple things,<span>
          and We love what we do.</span
        >
      </p>
      <a href="#" class="btn btn--primary">Look Inside</a>
    </div>
    <img
      class="hero__image"
      src="assets/hero.svg"
      alt="A Laptop screen with some code written."
    />
  </div>
</section>
