<section class="block block--dark block--message">
  <div class="container message__container">
    <div class="block__header">
      <h2>Have a message?</h2>
      <p>Thanks for taking the time to reach out. How can we help you today?</p>
    </div>
    <div class="grid grid__1x2">
      <div class="input-group">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          class="input"
          placeholder="Ashish Sharma"
        />
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="input"
          placeholder="me@example.com"
        />
      </div>
      <div class="input-group input__textarea">
        <label for="message">Message</label>
        <textarea
          class="input"
          name="message"
          id="message"
          placeholder="Write your message here..."
        ></textarea>
      </div>
    </div>
    <button class="btn btn--secondary btn--message">Submit</button>
  </div>
</section>
