<nav class="nav collapsible">
  <a class="logo--header" href="/"
    ><img src="assets/logo-header.svg" alt="Atomic Programmers logo"
  /></a>
  <ion-icon class="icon nav__icon icon__menu" name="menu-outline"></ion-icon>
  <ion-icon class="icon nav__icon icon__close" name="close-outline"></ion-icon>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Inside the atom</a></li>
    <li class="nav__item"><a href="#">Designs</a></li>
    <li class="nav__item"><a href="#">Websites</a></li>
    <li class="nav__item">
      <a class="btn btn--secondary" href="#">Say Hello</a>
    </li>
  </ul>
</nav>
