<div class="profile-card">
  <div class="profile-card__header">
    <img
      class="profile-card__image"
      src="assets/Ashish.png"
      alt="Ashish's Memoji"
    />
    <span class="profile-card__name">Ashish</span>
    <span class="profile-card__post">Product Designer & Developer</span>
  </div>

  <p class="profile-card__description">
    Ashish got into programming after his school teacher scolded him for being
    absolute zero in his MySQL class. He accidentally discovered Java &
    JavaScript when he was downloading paid courses for free from torrent.
    Ashish occasionally wins at Valorant by shooting from the back.
  </p>

  <div class="icon-group">
    <a class="icon icon--round icon--round--secondary" href="#"
      ><ion-icon name="logo-twitter"></ion-icon
    ></a>
    <a class="icon icon--round icon--round--secondary" href="#"
      ><ion-icon name="logo-instagram"></ion-icon
    ></a>
    <a class="icon icon--round icon--round--secondary" href="#"
      ><ion-icon name="logo-linkedin"></ion-icon
    ></a>
  </div>
</div>
