<section class="block block--why">
  <div class="container">
    <div class="block__header">
      <h2>Why Atomic Programmers?</h2>
      <p>The Atomic Programmers difference. Even more reasons to choose us.</p>
    </div>
    <div class="grid grid--1x2">
      <ul class="list">
        <li>
          <ion-icon class="icon" name="checkmark-circle"></ion-icon
          ><span>On time delivery</span>
        </li>
        <li>
          <ion-icon class="icon" name="checkmark-circle"></ion-icon
          ><span>Lowest price</span>
        </li>
        <li>
          <ion-icon class="icon" name="checkmark-circle"></ion-icon
          ><span>Top notch quality</span>
        </li>
        <li>
          <ion-icon class="icon" name="checkmark-circle"></ion-icon
          ><span>Maximum revisions</span>
        </li>
        <li>
          <ion-icon class="icon" name="checkmark-circle"></ion-icon
          ><span>100&percnt; secure</span>
        </li>
      </ul>
      <img src="assets/why-us.svg" class="block--why__image" alt="" />
    </div>
  </div>
</section>
